/* 
########################
## Main 
########################
*/

.main {
    height: calc(100% - 162px); 
    margin: 0; 
    padding: 0;
}

.filter {
    width: 100%;
    height: 68px;	
    background-color: #F5F5F5;
    border-bottom: 1px solid #D4D4D4;
}

.header {
    position: relative;
    height: 94px;
    width: 100%;
    margin: 0; 
    box-shadow: 0 1px 1px 0 rgba(183,183,183,0.5);
}

.header__image {
    position: absolute;
    top: -21px;
    left: 35px;
    height: 154px;	
    width: 158px;	
    border-radius: 8px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    background-image: url("images/logo-eac.jpg");
    background-position: center 90%;;
    background-size: 95%;
    background-repeat: no-repeat;
    z-index: 999;

}

.header__avatar {
    background: rgba(103, 182, 235, 1);
    background-image: url("images/icons/male-user-filled-50.png") !important;
}

.header__avatar:hover {
    background: rgb(0, 90, 138);
}

.header__favorites {
    -webkit-mask-image: url("images/icons/star-filled-50.png");
    -webkit-mask-size: 35%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: #0081CB;
}

.header__favorites:hover {
    background: rgb(0, 90, 138);
}


.header__avatar, .header__favorites {
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100%;
    width: 94px;
    float: right;
}

/* 
########################
## Galery 
########################
*/

.galery {
    margin: 0;
    display: block;
    height: 100%;
    width: 50%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.galery--force-scrollbar {
    overflow-y: scroll;
}

.galery--force-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}
.galery--force-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.galery--force-scrollbar::-webkit-scrollbar-track { 
    border-radius: 8px; 
}

.galery__card {
    margin: 15px;
    padding: 0px;
    width: 274px;
    height: 234px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    position: relative;
    box-shadow: 0 5px 12px 0 rgba(69,69,69,0.23);
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.3;
}

.galery__card--clickable {
    cursor: pointer;
}

.galery__card__image {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 53px;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-position: center;
    background-size: 50%;
    background-color: #60ADD9;
    background-repeat: no-repeat;
}

.galery__card__favorite {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 33px;
    height: 42px;
    background-image: url("images/vignette.png");
    z-index: 99;
}
.galery__card__favorite::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    background-image: url("images/icons/star-filled-50.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.galery__card__title {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    color: white;
    text-align: left;
    background-color: #0081CB;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;	
    font-weight: 600;	
    line-height: 19px;
    padding: 8px 60px 8px 70px;
    box-sizing: border-box;
    height: 53px; 
    
}


.galery__card__description {
    position: relative;
    display: inline-block;
    margin: 10px !important;
    padding: 0px;
    text-align: left;
    color: #555;
    font-size: 15px;
    height: 130px;
    overflow-x: auto;
}

.galery__card__bottom {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    left: 0px;
    display: block;
    padding: 8px;
    height: 33px;
    background: rgba(204, 204, 204, 0.7);
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
}



/* 
########################
## Map 
########################
*/
.icon__label {
    border-width: 3px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold; 
    border: 1px solid #666;
    background-color: #60ADD9;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.icon__label--college {
    background-color: #53205D;
}
.icon__label--orange {
    background-color: rgba(217, 133, 59, 0.7);
}
.icon__label--green {
    background-color: rgba(168, 205, 27, 0.9);
}
.icon__label--no-border {
     border: none;
}
.icon__label--small {
     font-size: 0;
     opacity: 0.9;
}